name: CI/CD Laravel - Code validation on PRs

on:
  pull_request:
    branches: [ "master" ]
  push:
      branches:
        - '*'
      branches-ignore:
        - 'WIP*'

jobs:
  laravel-tests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true ## Para no primeiro erro?!

    steps:
    - uses: actions/checkout@v3
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
      env:
        fail-fast: true

    - name: Get PHP version
      run: php -v

    - name: Run PHP code
      shell: php {0}
      run: |
        <?php
        $welcome = "Hello, world";
        echo $welcome;

    - name: Install dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.gh-actions', '.env');"

    - name: Generate key
      run: php artisan key:generate

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite

    - name: Execute tests (Unit and Feature tests) via Laravel tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test

    - name: Execute tests with pint
      run: composer pint:test
